<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 Episodes</title>
</head>
<body>

<h1>Top 10 Podcasts</h1>

<form method="POST" action="/">
    <label>
        <input type="radio" name="ranking_type" value="ranking_spotify" {% if ranking_type == 'ranking_spotify' %}checked{% endif %}>
        Filter by Spotify Ranking
    </label>
    <label>
        <input type="radio" name="ranking_type" value="ranking_time" {% if ranking_type == 'ranking_time' %}checked{% endif %}>
        Filter by Episode Duration
    </label>
    <label>
        <input type="radio" name="ranking_type" value="ranking_episodes" {% if ranking_type == 'ranking_episodes' %}checked{% endif %}>
        Filter by Total Episodes
    </label>
    <button type="submit">Apply Filter</button>
</form>

{% for show, data in shows_and_data.items() %}
    <h2>{{ show }}</h2>
    <h3>Total Episodes: {{ data['total_episodes'] }}</h3>
    <h3>Show External URL: <a href="{{ data['external_url'] }}" target="_blank">{{ data['external_url'] }}</a></h3>
    <h3>Show Description: {{ data['description'] }}</h3>
    <ul>
        {% for url in data['urls'] %}
            <li>
                <audio controls>
                    <source src="{{ url }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

</body>
</html>
