<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playable Podcast</title>
</head>
<body>
    <h1>Here goes name of first podcast</h1>
    <audio controls>
        <source src="{{ audio_url }}" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
    <h1>Here goes name of second podcast</h1>
    <audio controls>
        <source src="{{ audio_url }}" type="audio/mp3">
        Your browser does not support the audio tag.
    </audio>
</body>
</html>